<% data = question.options.is_a?(Hash) ? question.options : {} %>
<% labels = Array(data['labels']) %>
<% markers = Array(data['markers']) %>
<div class="diagram">
  <div class="diagram-image">
    <% if data['image'].present? %>
      <%= embedded_image_tag data['image'], alt: 'diagram', class: 'diagram-img' %>
    <% else %>
      <div class="image-box"></div>
    <% end %>
    <% markers.each_with_index do |m, i| %>
      <div class="callout" style="left:<%= m['x'] %>%; top:<%= m['y'] %>%">
        <span class="callout-dot"><%= i + 1 %></span>
      </div>
    <% end %>
  </div>
  <%# For the exam paper, do NOT show the actual labels (answers). %>
  <%# Render blank lines matching marker count if provided, otherwise label count, otherwise 3. %>
  <% expected_count = (markers.presence&.size || labels.presence&.size || 3) %>
  <div class="diagram-labels">
    <% expected_count.times do |i| %>
      <div class="diagram-label-item">
        <span class="diagram-label-index"><%= i + 1 %>.</span>
        <span class="cloze-blank"></span>
      </div>
    <% end %>
  </div>
</div>
