<div class="marking-scheme-body">
  <div class="marking-scheme-header">
    <h2>Marking Scheme</h2>
    <div class="marking-scheme-buttons">
      <%= link_to marking_scheme_exam_path(@exam, format: :pdf), class: 'marking-scheme-btn marking-scheme-btn--primary' do %>
        <svg class="marking-scheme-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
        <span>Download PDF</span>
      <% end %>
      <%= link_to exam_path(@exam), class: 'marking-scheme-btn marking-scheme-btn--ghost' do %>
        <svg class="marking-scheme-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="15 18 9 12 15 6"></polyline></svg>
        <span>Back to Exam</span>
      <% end %>
    </div>
  </div>

  <div class="header">MARK SCHEME – <%= @exam.title %></div>
  <div class="subtitle">Success criteria are detailed to guide consistent marking. Accept equivalent phrasing where meaning is preserved.</div>

  <table>
    <thead>
      <tr>
        <th class="question-col">Question</th>
        <th class="answers-col">Answers</th>
        <th class="guidance-col">Additional Comments/Guidance</th>
        <th class="mark-col">Mark</th>
      </tr>
    </thead>
    <tbody>
      <%
        current_section = nil
        exam_questions = @exam.exam_questions.includes(:question).to_a
      %>
      <% @exam.questions.each_with_index do |question, index| %>
        <%
          exam_question = exam_questions.find { |eq| eq.question_id == question.id && eq.position == index + 1 }
          section_num = exam_question&.section_number

          if @exam.exam_template && section_num && section_num != current_section
            section_info = @exam.section_info(section_num)
            current_section = section_num
        %>
          <tr class="section-break-row">
            <td colspan="4" class="section-header-cell">
              <div class="section-header">
                <h3><%= section_info&.name || "Section #{section_num + 1}" %></h3>
                <% if section_info %>
                  <div class="section-info">
                    <% if section_info.duration_minutes %>
                      <span>Time: <%= section_info.duration_minutes %> min</span>
                    <% end %>
                    <% if section_info.min_points || section_info.max_points %>
                      <span>Points: <%= section_info.min_points || 0 %>-<%= section_info.max_points || "∞" %></span>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>

        <tr data-controller="math">
          <td class="question-col"><%= index + 1 %></td>
          <td class="answers-col markdown-content"><%= render_markdown(question.answer) %></td>
          <td class="guidance-col markdown-content">
            Award <%= question.points %> <%= 'mark'.pluralize(question.points) %> for <%= render_markdown_inline(question.content.truncate(100)) %>
          </td>
          <td class="mark-col"><%= question.points %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
