<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'exam', media: 'all' %>
</head>
<body>
  <h1><%= @exam.title %></h1>

  <% @exam.questions.each_with_index do |question, index| %>
    <%= render 'questions/question', question: question, number: index + 1 %>
  <% end %>

  <div class="actions-bar">
    <%= link_to 'Download Exam PDF', exam_path(@exam, format: :pdf) %>
    <%= link_to 'Download Marking Scheme', marking_scheme_exam_path(@exam, format: :pdf) %>
    <%= link_to 'Generate New Exam', new_exam_path %>
  </div>
</body>
</html>
